.container {
	width: 80%;
	margin: auto;
}
.gray
{
	color: gray;
}
.caption
{
	font-size: 0.8em;
	font-style: italic;
	margin-top: 0.1em;
}
hr {
	display: block;
	clear: all;
	border: 0px solid black;
	border-bottom: 1px solid #510d0d;
	margin-top: 2px;
}
#head {
	font-family:"Helvetica Neue",sans-serif;
	font-size: 400%;
	font-weight: bold;
	margin-top: 1em;
}
#navigation li {
	display: block;
	width: 11%;
	height: 1.9em;
	float: left;
	text-align: center;
	padding-top: .6em;
	margin: 2px;
	
	font-family:"Helvetica Neue",sans-serif;
	
	background-color: #fcc;
}
#navigation li a {
	color: #444;
	text-decoration: none;
}
#navigation
{
	width: 100%;
	padding: 0px;
}

#body
{
	font-family:"Georgia",serif;
}
#body pre{
}
ol li
{
	margin-top: .7em;
}
h1
{
	font-size: 2.5em;
}
h2
{
	margin-top: 2em;
	font-size: 1.5em;
	border-bottom: 1px dashed crimson;
}
h3
{
	margin-top: 1.3em;
	font-size: 1.2em;
}

table
{
	border: 1px solid black;
	width: 100%;
}

th
{
	background-color: #7c2424;
	border: 1px solid #510d0d;
	text-align: left;
	color: #fff;
}

td
{
	border: 1px solid #510d0d;
}

th, td
{
	padding: 4px;
	padding-top: 5px;
	padding-left: .7em;
}

img 
{
	width: 100%;
}
